{% extends 'base.html' %}

{% block title %}About Us | FancyBear{% endblock %}

{% block content %}
    <h2>About Our Team</h2>
    <p>Our team is a group of passionate developers dedicated to creating a user-friendly stock management platform. We strive to provide a seamless experience for users to manage their portfolios, track stocks, and execute trades with ease.</p>
    <p>Developers:</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/david-eta-610342183/">David Eta</a></li>
        <li><a href="https://www.linkedin.com/in/siddharth-gianey-29438a223/">Siddharth Gianey</a></li>
        <li><a href="https://www.linkedin.com/in/christian-lee7">Christian Lee</a></li>
        <li><a href="https://www.linkedin.com/in/marko-shperkin-3655a2273/">Mark Shperkin</a></li>
        <li><a href="https://www.linkedin.com/in/travis-shuler-ii/">Travis Shuler</a></li>
    <p>For more information, visit our <a href="https://github.com/SCCapstone/fancy-bear" target="_blank">GitHub page</a>.</p>
{% endblock %}
