{% load static %}
<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    </head>
    <body>
        {% include 'base/navbar.html' %}
        
        <div class='container'>
            
            {% block content %}
            <div class="jumbotron text-center">
                <h1 class="display-4">Welcome to Fancy Bear Stocks Web App!</h1>
                <p class="lead">This is where you can manage your stock portfolios and track your investments.</p>
                <img src="{% static 'images/home/welcome_image.jpg' %}" alt="Welcome Image" class="img-fluid">
            </div>
        </div>

        <!-- Login/Register buttons -->
        <div class="container">
            {% if request.user.is_authenticated %}
                <!-- Logout button -->
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            {% else %}
                <!-- Login button -->
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                <!-- Register button -->
                <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
            {% endif %}
        </div>

        {% endblock content %}

        <!-- ... rest of your base.html content ... -->

        
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <script>
            document.body.addEventListener("htmx:configRequest", (event)=>{
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
            })
        </script>
    </body>
</html>