{% extends 'base.html' %}
{% load static %}

{% block title %}Favorite Stocks | FancyBear{% endblock %}

{% block content %}
<div class="container">
  <h2>Your Favorites</h2>
  <div class="row">
    {% for favorite in favorites %}
    <div class="col-md-3">
      <div class="card mb-3">
        {% comment %} <img src="" class="card-img-top" alt="{{ favorite.stock }}"> {% endcomment %}
        <div class="card-body">
          <a href="{% url 'stock_details' favorite.stock %}" style="text-decoration:none; color:inherit;">
            <h5 class="card-title">{{ favorite.stock }}</h5>
          </a>
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          </div>
        </div>
    </div>
    {% empty %}
      <p>You have no favorites yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
